<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SmokeSignal/src/br/com/unip/cc/exe/HostingChat.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="br.com.unip.cc.exe.HostingChat"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SmokeSignal"/>
</launchConfiguration>
